/*
Name: Akshath Jain
Date: 10/25/19
Purpose: file to store all styless
*/

/* flip the video 180 degress across the y axis so you get a mirrored view */
.video{
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* for safari and chrome */
    -moz-transform:rotateY(180deg); /* for firefox */
}